/* Global Styling */
body {
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Nunito', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 300;
}

.row {
  margin: 0px !important;
}


/* Page Overlay to click-save Edit Inputs */
.edit-input {
  position: relative;
  z-index: 100;
}

#page-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 95;
}


/* FontAwesome Icon Colors */

.fa-heart {
  color: #4bb9c3;
}

.shfl-btn .active {
  color: #000;
}

.icon-padding {
  padding-right: 6px;
}

/* Bootstrap Button Style Ovverid */

.btn {
  font-size: 13px !important;
  font-weight: 300 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #4bb9c3 !important;
}

.btn-primary:hover {
  background-color: #47afb8 !important;
}

.btn-primary:active {
  background-color: #339199 !important;
}

.btn-secondary {
  color: #444 !important;
  background-color: #eee !important;
}

.btn-secondary:hover {
  background-color: #e5e5e5 !important;
}

.btn-secondary:active {
  background-color: #ddd !important;
}

.btn-trash {
  height: 30px;
  color: #444 !important;
  background-color: #eee !important;
}

.btn-trash:hover {
  color: #fff !important;
  background-color: #e64a60 !important;
}

.btn-trash:active {
  color: #fff !important;
  background-color: #cd4054 !important;
}

.btn-red {
  color: #fff !important;
  background-color: #e64a60 !important;
}

.btn-red:hover {
  color: #fff !important;
  background-color: #d74256 !important;
}

.btn-red:active {
  color: #fff !important;
  background-color: #cd4054 !important;
}

.btn-red-hover {
  color: #444 !important;
  background-color: #eee !important;
}

.btn-red-hover:hover {
  color: #fff !important;
  background-color: #e64a60 !important;
}

.btn-red-hover:active {
  color: #fff !important;
  background-color: #cd4054 !important;
}

.btn-teal-hover {
  color: #444 !important;
  background-color: #eee !important;
}

.btn-teal-hover:hover {
  color: #fff !important;
  background-color: #4bb9c3 !important;
}

.btn-teal-hover:active {
  color: #fff !important;
  background-color: #339199 !important;
}

.btn-dark {
  color: #fff !important;
  background-color: #444 !important;
}

.btn-dark:hover {
  color: #fff !important;
  background-color: #4bb9c3 !important;
}

.btn-dark:active {
  color: #fff !important;
  background-color: #339199 !important;
}

.disabled {
  color: #ccc !important;
  background-color: #f2f2f2 !important;
  cursor: default !important;
}

.disabled:hover {
  background-color: #f2f2f2 !important;
}

.disabled:active {
  background-color: #f2f2f2 !important;
}


/* Green Dot appears when online */

.status {
  display: none !important;
  font-size: 6px !important;
  vertical-align: middle;
}

.status-online {
  display: inline-block !important;
  color: #00b359;
}

.status-offline {
  display: inline-block !important;
  color: transparent;
}


/* Profile Picture Circle */
.profile-pic {
  border-radius: 100px;
  overflow: hidden;
}


/* Rotates + to x */
.rotate-x {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Truncated Text Ellipses */
.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Placeholders for empty video, queue, tab content */
.placeholder {
  background-color: #fafafa;
  height: 400px;
  border-radius: 4px;
}

.placeholder-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
}

.placeholder-icon {
  font-size: 24px !important;
  margin-bottom: 6px;
}

.placeholder-video {
  position: absolute;
  width: 854px;
  height: 480px;
  background-color: #000;
  color: #fff;
  z-index: 50;
  border-radius: 0px;
}

.placeholder-video .placeholder-icon {
  font-size: 40px !important;
  margin-bottom: 10px !important;
}

.placeholder-search {
  background-color: transparent;
  height: 350px;
}


/* Modal Styles */
.modal-dialog {
  margin: 13% auto !important;
}

.modal-content {
  box-shadow: none !important;
  border: none !important;
}

.modal-body {
  text-align: center !important;
}

.modal-footer {
  text-align: center !important;
}


/* Header */

.header {
  width: 100%;
  background-color: #fff;
  display: block;
  margin: auto;
}

.header-content-container {
  width: 1100px;
  margin: auto !important;
}

.header-logo {
  width: 170px;
  padding: 14px;
}

.header-profile-btn {
  text-align: right;
}

.header .profile-pic {
  width: 35px;
  margin: 18px;
  z-index: 120;
}


/* Video and Chat Banner */

.banner-container {
  background-color: #111;
  height: 480px;
  min-width: 1200px;
  width: 100%;
}


/* Video */

.vid-chat-container {
  width: 1160px;
  margin: auto;
}

.video-container {
  float: left;
  width: 854px;
  margin: 0px !important;
  background-color: #0a0a0a;
}

.player {
    position: relative;
    max-width: 100%;
    min-width: 200px;
    direction: ltr
}

.player-video-embed {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden
}

.player-video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.player .play-btn-lg {
  font-size: 50px;
  display: none !important;
}

.player-controls button {
  font-size: 20px !important;
  width: 40px;
}


/* Room Header */

.chatbox-container {
  float: left;
  width: 306px;
  height: 100%;
}

.room-header {
  position: relative;
  background-color: #111;
  width: 100%; 
  padding: 16px 6px 14px 20px;
  color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #292929;
  border-bottom-width: 1px; 
}

.room-header .room-name {
  display: inline-block;
  width: 80%;
  font-size: 16px;
  color: #fff;
}

.room-header .edit-input {
  background-color: #222;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0px 6px 0px 6px;
  outline: none;
}

.room-header .fa-edit {
  padding-left: 6px;
  font-size: 14px;
}


/* Room User's List */

.users-btn {
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 3px 8px;
  background-color: #222;
  border-radius: 10px;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.users-btn:hover {
  background-color: #333;
}

.users-btn-icon {
  padding: 0px 3px;
}

#users-list-container {
  position: absolute;
  right: 0;
}

.users-list-container {
  display: none;
  position: relative;
  margin-top: 10px;
  z-index: 100;
  background-color: #fff;
  border-radius: 4px;
  min-width: 180px;
}

.users-list-header {
  padding: 10px 15px 5px 15px !important;
  color: #aaa;
  font-size: 13px;
  border-bottom: solid 1px #e5e5e5;
}

.users-list-edit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 1 !important;
}

.users-list-scroll-container {
  max-height: 288px;
  overflow: scroll;
}

.users-list {
  white-space: nowrap;
  list-style: none;
  padding: 10px 0px;
  font-size: 13px;
  margin: 0px;
  color: #aaa;
}

.users-list-section {
  border-top: solid 1px #e5e5e5;
}

.users-list li {
  padding: 2px 13px 2px 20px;
}

.users-list .user-name {
  color: #000;
  text-decoration: none;
  padding: 0px 10px;
}

.users-list .user-name:hover {
  color: #666;
}

.users-offline-section {
  display: none;
}

.users-list .offline {
  color: #aaa;
  font-style: italic;
}

.users-list-icons {
  display: block;
  float: right;
}

.users-list-edit {
  display: none;
  float: right;
}

.users-list-add {
  display: none;
  text-align: center;
}

.users-list-add button {
  outline: none;
  font-size: 12px !important;
}

.search-user-header {
  border-bottom: none;
}

#search-user-list {
  display: none;
  max-height: 175px;
  overflow: scroll;
  padding: 6px 15px 15px 15px;
}

.search-user .search-media-card {
  position: relative;
  display: inline-block;
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  padding: 6px;
}

.search-user .search-media-card:hover {
  background-color: #e5e5e5;
}

.search-user .search-media-img {
  float: left;
  width: 17%;
}

.search-user .search-media-text-container {
  float: left;
  width: auto;
  padding: 0px 10px;
  text-align: left;
}


/* Chatbox */
.chat-load {
  position: relative;
  height: 385px;
}

.chat-load-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-right: -50%;
}

.chat {
  position: relative;
  padding: 10px 20px 0px 50px;
  overflow-y: scroll;
  height: 360px;
}

.chat-load-icon {
  color: #4bb9c3;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.chat-notif {
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #666;
  padding: 4px 0px 10px 0px;
  display: inline-block;
}

.chat-msg {
  float: left;
  max-width: 75%;
  margin-bottom: 8px;
  clear: both;
}

.chat-msg-user {
  float: right;
  max-width: 75%;
  margin-bottom: 8px;
  clear: both;
}

.chat-msg .profile-pic {
  float: left;
  clear: both;
  width: 25px;
  transform: translate(-34px, -28px);
}

.chat-msg .name {
  color:#666;
  font-size: 10px;
  line-height: 10px;
  margin: 0px;
  padding-bottom: 3px;
}

.chat-msg .msg {
  float: left;
  clear: both;
  color:#ddd;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  background-color: #222; 
  padding: 6px 10px 6px 10px;
  border-radius: 12px;
  margin-bottom: 1px;
}

.chat-msg-user .msg {
  float: right;
  clear: both;
  color: #eee;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  background-color: #4bb9c3;
  padding: 6px 10px 6px 10px;
  border-radius: 12px;
  margin-bottom: 1px;
}

.chat-input-container {
  position: relative;
  width: 100%;
  padding: 16px 14px;
}

form {
  margin: 0px;
  width: 100%;
}

.chat-input input {
  color: #ddd;
  font-size: 12px;
  width: 100%;
  height: 32px;
  background: #222;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
}


/* Main Container */

.main-container {
  background-color: #fff;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}


/* Queue Column */

.queue-container {
  padding: 30px 15px !important;
}

.queue-header {
  height: 34px;
  padding-left: 10px;

  border-bottom: solid 1px #e5e5e5;
}

.queue-title-container {
  float: left;
}

.queue-title {
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 3px;
}

.pill {
  display: inline-block;
  vertical-align: top;
  background-color: #eee;
  border-radius: 10px;
  padding: 3px 7px;
  margin: 0px 2px;
  color: #111;
  font-size: 10px;
  cursor: default;
}

.pill-blue {
  background-color: #4bb9c3;
  color: #fff;
}

.queue-icon-container {
  float: right;
}

.queue-icon {
  float: right;
  padding: 4px 8px;
}

.queue-body {
  margin-top: 8px;
}

.media-card {
  position: relative;
  background-color: #eee;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 4px;
  display: inline-block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.media-img {
  float:left;
  width: 40%;
  padding: 6px;
  pointer-events: none;
}

.media-next {
  position: absolute;
  background-color: #222;
  font-size: 8px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  padding: 6px;
  margin: 6px;
  width: 36%;
  text-align: center;
}

.number {
  position: absolute;
  left: 12px;
  bottom: 6px;
  font-size: 12px;
  color: #fff;
  text-shadow: 0px 0px 10px #666;
}

.media-text-container {
  float:left;
  width: 60%;
  padding: 10px 15px 10px 4px;
}

.media-title {
  color: #111;
  font-size: 12px;
}

.media-artist {
  color: #666;
  font-size: 10px;
}

.media-type {
  padding-top: 3px;
  font-size: 14px;
}

.media-icon-container {
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.media-icon {
  display: inline-block;
  padding: 0px 4px;
}

.media-card:hover {
  background-color: #e5e5e5;
}

.media-card-added {
  background-color: #4bb9c3 !important;
}

.media-card-added .media-title {
  color: #fff !important;
}

.media-card-added .media-artist {
  color: #b3e1e6 !important;
}

.media-card-added .media-type .fa {
  color: #fff !important;
}

.media-card-added:hover {
  background-color: #47afb8 !important;
}


/* Corner Added Indicator, Rotate Plus on Hover */

.media-card-added-corner-container{
  position: absolute;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  /* this fixes the overflow:hidden in Chrome */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.media-card-added-corner {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 35px 35px 0px;
  border-style: solid;
  border-color: transparent #339199 transparent #339199;
}

.media-card-added-plus {
  position: absolute;
  font-family: 'Arial', serif;
  color: #fff;
  top: 0px;
  right: 0px;
  padding: 1px 6px;

  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.media-card-added:hover .media-card-added-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.media-card-added-x {
  position: absolute;
  font-family: 'Arial', serif;
  color: #fff;
  top: 0px;
  right: 0px;
  padding: 1px 6px;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Grab Cursor */

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


/* Pagination */

nav {
  text-align: center;
}

.queue-container nav .pagination {
  margin-top: 6px;
}

.pagination li a {
  border-radius: 4px;
  padding: 4px 10px 2px 10px !important;
  margin: 0px 3px !important;
  border: none !important;
}

.pagination .fa {
  font-size: 16px;
  padding-bottom: 4px;
}

.pagination a {
  color: #444 !important;
}

.pagination a:hover {
  color: #000 !important;
  background-color: #f2f2f2 !important;
}

.pagination a:active {
  color: #000 !important;
  background-color: #eee !important;
}

.pagination .disabled a {
  display: none;
}

.pagination .active a {
  font-weight: 400 !important;
  color: #000 !important;
  background-color: #f2f2f2 !important;
}


/* Navigation Tabs */

.tabbed-container {
  padding: 20px 15px 30px 15px !important;
}

.nav-tabs {
  border-bottom-color: #e5e5e5 !important;
}

.nav-tabs a {
  color: #e5e5e5 !important;
  font-size: 16px;
}

.nav-tabs a:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #666 !important;
}

.nav-tabs .active a {
  background-color: #fff !important;
  font-weight: 400;
  color: #000 !important;
  border-color: transparent !important;
  border-bottom-color: #000 !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.tab-text {
  display: inline-block;
}

.tab-content {
  margin-top: 8px;
}


/* Global Search Bar and Dropdown */

.search-container {
  position: relative;
  padding: 7px;
}

.search-input input {
  background: #eee;
  width: 100%;
  height: 34px;
  color: #666;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
}


/* Search Dropdown Bootstrap Override */

.search-input-dropdown input {
  border-radius: 5px 0px 0px 5px !important;
}

.search-input-dropdown .btn {
  font-size: 14px !important;
  border: solid 1px #4bb9c3 !important;
  color: #fff !important;
  background-color: #4bb9c3 !important;
}

.search-input-dropdown .dropdown-icon {
  color: #fff !important;
}

.dropdown-arrow {
  padding-left: 6px !important;
  font-weight: 400 !important;
}

.dropdown-menu {
  box-shadow: none !important;
  border-color: #e0e0e0 !important;
  min-width: 100px !important;
}

.dropdown-menu .fa {
  width: 24px;
}

.dropdown-header {
  color: #aaa !important;
}

.dropdown-menu li a{
    font-weight: 300 !important;
}


/* Explore and My Playlist Tabs */

.explore-container {
}

.col-padding {
  padding: 7px !important;
}

.playlist-card {
  position: relative;
  display: inline-block;
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  padding: 6px !important;
}

.playlist-img-container {
  position: relative;
  margin-bottom: 6px;
}

.playlist-play-icon{
  font-size: 24px;
  padding-bottom: 8px;
}

.playlist-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  margin-bottom: 6px;

  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1;
  text-align: center;
  padding-top: 20px;
}

.playlist-img {
  width: 100%;
}

.playlist-text-container {
  padding: 4px 0px 4px 8px;
  text-align: left;
  margin: auto;
}

.playlist-title {
  width: 100%;
}

.playlist-title-text {
  display: inline-block;
  font-size: 13px;
  width: 85%;
}

.playlist-card .pill {
  position: absolute;
  display: inline-block;
  background-color: #ddd;
  color: #000;
  border-radius: 10px;
  padding: 2px 6px;
  right: 8px;
  font-size: 9px;
}

.playlist-curator {
  margin-top: 4px;
  color: #666;
  font-size: 10px;
}

.playlist-icon-container {
  position: absolute;
  bottom: 8px;
  right: 6px;
  color: #339199;
}

.playlist-icon-container .fa-lock {
  color: #fff;
  margin-right: 2px;
}

.playlist-icon {
  display: inline-block;
  padding: 0px 4px;
}

.myplaylists-container {
}

.user-playlist{
  background-color: #4bb9c3 !important;
}

.user-playlist a {
  color: #fff !important;
}

.user-playlist .playlist-curator {
  color: #b3e1e6;
}

.user-playlist .pill {
  background-color: #339199;
  color: #fff;
}

.playlist-user-icon {
  display: inline-block;
}

.playlist-img-container:hover .playlist-overlay{
    display: block;
    background: rgba(0, 0, 0, .3);
}


/* Open and Edit Playlist */

.open-playlist-container {
}

.open-playlist-header {
  padding: 16px 7px 0px 7px;
  width: 100%;
  height: 80px;
}

.open-playlist-text-container {
  float: left;
}

.open-playlist-back-btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 8px 0px 0px;
}

.open-playlist-title {
  display: inline-block;
  font-size: 20px;
  margin-right: 3px;
}

.open-playlist-curator {
  margin-top: 2px;
  margin-left: 26px;
  color: #666;
  font-size: 13px;
}

.open-playlist-right-container {
  float: right;
}

.open-playlist-icon-container {
  margin-bottom: 4px;
}

.open-playlist-likes {
  margin-top: 9px;
  margin-right: 4px;
  text-align: right;
}

.open-playlist-likes-text {
  display: inline-block;
  font-size: 12px;
  color: #888;
}


/* Edit Playlist Container */

.edit-playlist-container {
}

.section {
  text-align: center;
  padding: 8px 0px 16px 0px;
  border-bottom: solid 1px #eee;
}

.edit-playlist-container .save-cancel {
  position: absolute;
  margin-left: 8px;
}

.edit-playlist-container .private-public {
  display: inline-block;
}

.edit-playlist-container .public-note {
  display: inline-block;
  vertical-align: bottom;
  padding: 6px 12px !important;
  border-radius: 4px;
  font-size: 13px;
  color: #aaa;
  background-color: #eee;
}

.edit-playlist-container .trash-playlist-btn {
  position: absolute;
  right: 22px;
}

.edit-playlist-container .open-playlist-title .edit-input {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 0px 6px 0px 6px;
  outline: none;
}

.edit-playlist-container .fa-edit{
  padding-left: 6px;
  font-size: 14px;
}

.user-heart {
  color: #888;
}

.edit-playlist-card {
  /* class created to identify drag-arrange group */
}

.playlist-media-card {
  position: relative;
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  display: inline-block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


/* Curator Page */

.curator-header {
  height: 60px;
}

.curator-header .profile-pic {
  width: 35px;
  margin: 0px 4px 6px 0px
}

.curator-header .open-playlist-text-container {
  vertical-align: middle;
  margin-bottom: 14px;
}


/* Search Media Cards*/

.search-card-padding {
  padding: 6px 8px;
}

.search-media-card {
  position: relative;
  display: inline-block;
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  padding: 6px;
}

.search-media-img {
  float: left;
  width: 17%;
}

.search-media-text-container {
  float: left;
  width: 80%;
  padding: 8px 0px 0px 14px;
}

.search-media-title {
  color: #111;
  font-size: 14px;
}

.search-media-artist {
  color: #666;
  font-size: 12px;
}

.search-media-type {
  margin-top:4px;
  font-size: 14px;
}

.search-media-icon-container {
  position: absolute;
  bottom: 29px;
  right: 26px;
}

.search-media-icon {
  display: inline-block;
  padding: 0px 16px;
  font-size: 18px;
}


/* Footer Styling // .content-container{margin-bottom}, .push, .footer {height} must be equal */

.content-container {
  min-height: 100%;
  margin: 0 auto -150px;
}

.push, .footer {
  height: 150px;
}

.footer {
  min-width: 1200px;
  width: 100%;
}

.footer-content {
  margin: auto;
  padding: 35px 15px 0px 15px;
  max-width: 1200px;
  color: #aaa;
  font-size: 11px;
  letter-spacing: .5;
  text-align: right;
  border-top: solid 1px #e5e5e5;
}

.footer-content p {
  padding-bottom: 4px;
}

.copyright {
  padding-top: 70px;
  padding-bottom: 4px;
  text-align: left;
}


/* Mobile Tabs */
.mobile-tabbed-container {
  display: none;
}


/* Font Awesome Social Media Icon Colors */

.fa-youtube-play {color: #888; padding-right: 6px;}
.fa-vimeo {color: #888; padding-right: 6px;}
.fa-soundcloud {color: #888; padding-right: 6px;}
.fa-spotify {color: #888; padding-right: 6px;}


/* Link Colors and Styling */

a.icon-btn:link {color:#ccc; text-decoration:none; outline:none;}
a.icon-btn:visited {color:#ccc; text-decoration:none; outline:none;}
a.icon-btn:hover {color:#000; text-decoration:none; outline:none;}
a.icon-btn:active {color:#000; text-decoration:none; outline:none;}

a.icon-btn-blue:link {color:#4bb9c3; text-decoration:none; outline:none;}
a.icon-btn-blue:visited {color:#4bb9c3; text-decoration:none; outline:none;}
a.icon-btn-blue:hover {color:#339199; text-decoration:none; outline:none;}
a.icon-btn-blue:active {color:#339199; text-decoration:none; outline:none;}

a.icon-btn-blue-lite:link {color:#b3e1e6; text-decoration:none; outline:none;}
a.icon-btn-blue-lite:visited {color:#b3e1e6; text-decoration:none; outline:none;}
a.icon-btn-blue-lite:hover {color:#fff; text-decoration:none; outline:none;}
a.icon-btn-blue-lite:active {color:#fff; text-decoration:none; outline:none;}

a.icon-btn-white:link {color:#fff; text-decoration:none; outline:none;}
a.icon-btn-white:visited {color:#fff; text-decoration:none; outline:none;}
a.icon-btn-white:hover {color:#fff; text-decoration:none; outline:none;}
a.icon-btn-white:active {color:#fff; text-decoration:none; outline:none;}

a.icon-btn-dark:link {color:#444; text-decoration:none; outline:none;}
a.icon-btn-dark:visited {color:#444; text-decoration:none; outline:none;}
a.icon-btn-dark:hover {color:#4bb9c3; text-decoration:none; outline:none;}
a.icon-btn-dark:active {color:#4bb9c3; text-decoration:none; outline:none;}

a.playlist-link:link {color: #4bb9c3; text-decoration:none; outline:none;}
a.playlist-link:visited {color: #4bb9c3; text-decoration:none; outline:none;}
a.playlist-link:hover {color: #4bb9c3; text-decoration: underline; outline:none;}
a.playlist-link:active {color: #4bb9c3; text-decoration: underline; outline:none;}

a.curator-link:link {color: #666; text-decoration:none; outline:none;}
a.curator-link:visited {color: #666; text-decoration:none; outline:none;}
a.curator-link:hover {color: #666; text-decoration: underline; outline:none;}
a.curator-link:active {color: #666; text-decoration: underline; outline:none;}

a.icon-btn-red:link {color:#ccc; text-decoration:none; outline:none;}
a.icon-btn-red:visited {color:#ccc; text-decoration:none; outline:none;}
a.icon-btn-red:hover {color:#e64a60; text-decoration:none; outline:none;}
a.icon-btn-red:active {color:#e64a60; text-decoration:none; outline:none;}


/* Media queries */

/*@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
}*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

/*Header*/
.header-content-container {
  max-width: 100%;
}

.header-logo {
  display: block;
  margin: auto;
}

.header-profile-btn {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
}

/*Vid Chat Banner*/
.banner-container {
  height:auto;
  min-width: 100%;
}

.vid-chat-container {
  width: 100%;
  max-width: 1200px;
}

.video-container {
  float: none;
  width: 100%;
  height: auto;
}

.placeholder-video {
  width: 100%;
  height: 100%;
}


/* Mobile Tabs */
.mobile-tabbed-container {
  display: block;
  background-color: #fff;
  padding-top: 10px;
}

.tabbed-container .nav-tabs{
  display: none;
}

.tab-content {
  margin: 0px;
}

.queue-container {
  padding: 0px 0px 15px 0px !important;
}

.queue-header {
  padding: 0px 6px 0px 20px;
  margin: 16px 0px 14px 0px;
}

.queue-body {
  padding: 7px 22px !important;
}

.tabbed-container {
  margin-top: 10px;
  padding: 15px;
  border-top: solid 1px #e5e5e5;
}

/* Chat */
.chatbox-container {
  float: none;
  width: 100%;
  height: 480px;
  background-color: #fff;
}

.room-header {
  background-color: #fff;
  color: #eee;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
  border-bottom-width: 1px; 
}

.room-header .room-name {
  color: #000;
}

.room-header .edit-input {
  background-color: #eee;
}


/* Room User's List */

.users-btn {
  color: #000;
  background-color: #eee;
}

.users-btn:hover {
  background-color: #e5e5e5;
}

.users-list-container {
  border: solid 1px #e6e6e6;
}

.chat-notif {
  color: #aaa;
}

.chat-msg .name {
  color:#aaa;
}

.chat-msg .msg {
  color:#000;
  background-color: #eee;
}

.chat-input input {
  color: #000;
  background: #eee;
}


/*Main Container*/
.main-container {
  width: 100%;
}

/* Navigation Tabs */
.nav-tabs {
  border-bottom-color: transparent !important;
}

.nav-tabs .active a {
  border-bottom-color: transparent !important;
}

.tab-text {
  display: none;
}

.search-media-icon-container {
  bottom: 12px;
  right: 8px;
}

.search-media-icon {
  display: inline-block;
  padding: 0px 8px;
  font-size: 14px;
}

.content-container {
  min-height: 100%;
  margin: 0 auto -200px;
}

.push, .footer {
  height: 200px;
}

.footer {
  min-width: 100%;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}
