/* Global Styling */

body{
	margin:0;
	padding:0;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: #fff;
}

@font-face {
  font-family: Avenir;
  src: url('../fonts/avenir.ttc');
}


/* Icon */

.fa-heart {
  color: #4bb9c3;
}

.shfl-btn .active {
  color: #000;
}


/* Green Dot appears when online */

.status {
  display: none !important;
  font-size: 6px !important;
}

.status-online {
  display: inline-block !important;
  color: #00b359;
}


/* Header */

.header {
  width: 100%;
  height:70px;
  background-color: #fff;
}

.header-logo {
  width: 140px;
  /*margin: auto;
  display: block;*/
  margin-top: 14px;
  margin-left: 140px;
}


/* Video and Chat Banner */

.banner-container {
  background-color: #111;
  width: 100%;
  height:506px;
  margin: auto;
}


/* Video */

.vid-chat-container {
  width: 1200px;
  margin: auto;
  background-color: #000;
}

.video-container {
  width: 900px;
  height: 506px;
  margin: 0px !important;
  background-color: #111;
  float: left;
}



/* Room Header */

.chatbox-container {
  width: 300px;
  height: 100%;
  float: left;
}

.room-header {
  position: relative;
  background-color: #111;
  width: 100%;
  padding: 16px 6px 14px 20px;
  color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #292929;
  border-bottom-width: 1px; 
}

.room-header .room-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}

.room-header .users-list {
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  padding: 3px 8px;
  background-color: #222;
  border-radius: 10px;
}


/* Chatbox */

.chat{
  position: relative;
  padding:10px 20px 0px 20px;
  overflow-y: scroll;
  height: 385px;
}

.chat-load {
  color: #4bb9c3;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.chat-notif {
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #444;
  padding: 4px 0px 10px 0px;
  display: inline-block;
}

.chat-msg {
  float: left;
  max-width: 75%;
  margin-bottom: 8px;
  clear: both;
}

.chat-msg-user {
  float: right;
  max-width: 75%;
  margin-bottom: 8px;
  text-align: right;
  clear: both;
}

.chat-msg .name {
  color:#666;
  font-weight: 100;
  font-size: 10px;
  line-height: 10px;
  margin: 0px;
  padding-bottom: 3px;
}

.chat-msg .msg {
  float: left;
  clear: both;
  color:#ddd;
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  background-color: #222; 
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  margin-bottom: 1px;
}

.chat-msg-user .msg {
  float: right;
  clear: both;
  color: #eee;
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  background-color: #4bb9c3;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  margin-bottom: 1px;
}

.chat-input-container {
  position: relative;
  width: 100%;
  padding: 16px 14px;
}

form {
  margin: 0px;
  width: 100%;
}

.chat-input input {
  color: #ddd;
  font-weight: 100;
  font-size: 12px;
  width: 100%;
  height: 32px;
  background: #222;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
}


/* Main Container */

.main-container {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}


/* Queue Column */

.queue-container {
  background-color: #fff;
  padding: 30px !important;
}

.queue-header {
  padding-left: 16px;
  padding-bottom: 32px;
  margin-bottom: 8px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;  
}

.queue-title-container {
  width: 68%;
  float: left;
}

.queue-title {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  float: left;
}

.pill {
  float: left;
  background-color: #eee;
  border-radius: 10px;
  padding: 3px 7px;
  margin-left: 6px;
  color: #111;
  font-weight: 100;
  font-size: 10px;
}

.pill-blue {
  background-color: #4bb9c3;
  color: #fff;
}

.queue-icon-container {
  float: left;
  width: 30%;
}

.queue-icon {
  float: right;
  padding: 4px 8px;
}

.queue-body {
  padding-top: 10px;
}

.media-card {
  position: relative;
  background-color: #eee;
  width: 100%;
  margin-bottom: 14px;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  /* This fixes the overflow:hidden for rounded corners in Chrome */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

}

.media-img {
  float:left;
  width: 140px;
  padding: 6px;
  pointer-events: none
}

.media-next {
  position: absolute;
  background-color: #222;
  font-size: 8px;
  color: #fff;
  letter-spacing: 2px;
  padding: 6px;
  margin: 6px;
  width: 128px;
  text-align: center;
}

.media-text {
  float:left;
  width: 165px;
  padding: 15px 5px 10px 5px;
}

.media-title {
  color: #111;
  font-size: 12px;
}

.media-artist {
  color: #666;
  font-size: 10px;
}

.media-type {
  padding-top: 3px;
  font-size: 14px;
}

.media-icon-container {
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.media-icon {
  display: inline-block;
  padding: 0px 4px;
}

.media-card:hover {
  background-color: #e6e6e6;
}

.media-card-added {
  background-color: #4bb9c3 !important;
}

.media-card-added .media-title {
  color: #fff !important;
}

.media-card-added .media-artist {
  color: #b3e1e6 !important;
}

.media-card-added .media-type .fa {
  color: #fff !important;
}

.media-card-added:hover {
  background-color: #40b5bf !important;
}

/* Corner Added Indicator, Rotate Plus on Hover */

.media-card-added-corner {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0px 35px 35px 0px;
    border-style: solid;
    border-color: transparent #339199 transparent #339199;
}

.media-card-added-plus {
  position: absolute;
  font-weight: 600;
  color: #fff;
  top: 0px;
  right: 0px;
  padding: 1px 6px;

  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.media-card-added:hover .media-card-added-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Grab Cursor */

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


/* Navigation Tabs */

.tabbed-container {
  background-color: #fff;
  padding: 20px 30px 30px 30px !important;
}

.nav-tabs {
  border-bottom-color: #bbb !important;
}

.nav-tabs a {
  color: #bbb !important;
  font-size: 16px;
}

.nav-tabs a:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #666 !important;
}

.nav-tabs .active a {
  background-color: #fff !important;
  font-weight: bold;
  color: #000 !important;
  border-color: transparent !important;
  border-bottom-color: #000 !important;
}


/* Global Search Bar and Dropdown */

.search-container {
  padding: 14px 0px 4px 0px;
  width: 100%;
}

.search-input input {
  background: #eee;
  width: 100%;
  height: 34px;
  color: #666;
  font-weight: 100;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
}

.search-input-dropdown input{
  border-radius: 5px 0px 0px 5px !important;
}


/* Search Dropdown Bootstrap Override */

.btn-default {
  color: #fff !important;
  background-color: #4bb9c3 !important;
  border-color: #4bb9c3 !important; 
}

.dropdown-icon {
  color: #fff !important;
}

.dropdown-arrow {
  padding-left: 6px !important;
  font-weight: bold !important;
}

.dropdown-menu {
  box-shadow: none !important;
  border-color: #e0e0e0 !important;
  min-width: 100px !important;
}


/* Explore and My Playlist Tabs */

.col-padding {
  padding:8px !important;
}

.playlist-card {
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  padding: 6px !important;
  display: inline-block;
  position: relative;
}

.playlist-img-container {
  position: relative;
  margin-bottom: 6px;
}

.playlist-play-icon{
  font-size: 24px;
  padding-bottom: 8px;
}

.playlist-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    margin-bottom: 6px;

    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1;
    text-align: center;
    padding-top: 20px;
}

.playlist-img {
  width: 100%;
}

.playlist-text {
  display: block;
  padding: 4px 0px 4px 8px;
  text-align: left;
  margin: auto;
}

.playlist-title {
  width: 100%;
}

.playlist-title-text {
  display: inline-block;
  font-size: 13px;
}

.playlist-pill {
  position: absolute;
  display: inline-block;
  background-color: #ddd;
  color: #000;
  border-radius: 10px;
  padding: 2px 6px;
  right: 8px;
  font-weight: 100;
  font-size: 9px;
}

.playlist-artist {
  margin-top: 4px;
  color: #666;
  font-size: 10px;
}

.playlist-icon-container {
  position: absolute;
  bottom: 7px;
  right: 6px;
}

.playlist-icon {
  display: inline-block;
  padding: 0px 4px;
}

.user-playlist{
  background-color: #4bb9c3 !important;
}

.user-playlist a {
  color: #fff !important;
}

.user-playlist .playlist-artist {
  color: #b3e1e6;
}

.user-playlist .playlist-pill {
  background-color: #339199;
  color: #fff;
}

.playlist-user-icon {
  display: inline-block;
}

.playlist-img-container:hover .playlist-overlay{
    display: block;
    background: rgba(0, 0, 0, .3);
}


/* Search Media Cards*/

.search-card-padding {
  padding: 6px 8px;
}

.search-media-card {
  position: relative;
  display: inline-block;
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  padding: 6px;
}

.search-media-img {
  float: left;
  width: 130px;
}

.search-media-text {
  float: left;
  padding: 8px 0px 0px 14px;
}

.search-media-title {
  color: #111;
  font-size: 14px;
}

.search-media-artist {
  color: #666;
  font-size: 12px;
}

.search-media-type {
  margin-top:4px;
  font-size: 14px;
}

.search-media-icon-container {
  position: absolute;
  bottom: 29px;
  right: 30px;
}

.search-media-icon {
  display: inline-block;
  padding: 0px 16px;
  font-size: 18px;
}


/*.search-media-card:hover {
  background-color: #4bb9c3;
}

.search-media-card:hover .search-media-title {
  color: #fff;
}

.search-media-card:hover .search-media-artist {
  color: #b3e1e6;
}

.search-media-card:hover .fa {
  color: #fff;
}*/


/* Font Awesome Social Media Icon Colors */

.fa-youtube-play {color: #888; padding-right: 6px;}
.fa-vimeo {color: #888; padding-right: 6px;}
.fa-soundcloud {color: #888; padding-right: 6px;}
.fa-spotify {color: #888; padding-right: 6px;}

/*
.fa-youtube-play {color: #cc0000; padding-right: 6px;}
.fa-vimeo {color: #00ccff; padding-right: 6px;}
.fa-soundcloud {color: #ff6600; padding-right: 6px;}
.fa-spotify {color: #00cc66; padding-right: 6px;}
*/


/* Link Colors and Styling */

a.icon-btn:link {color:#ccc; text-decoration:none;}
a.icon-btn:visited {color:#ccc; text-decoration:none;}
a.icon-btn:hover {color:#000; text-decoration:none;}
a.icon-btn:active {color:#000; text-decoration:none;}

a.icon-btn-blue:link {color:#4bb9c3; text-decoration:none;}
a.icon-btn-blue:visited {color:#4bb9c3; text-decoration:none;}
a.icon-btn-blue:hover {color:#339199; text-decoration:none;}
a.icon-btn-blue:active {color:#339199; text-decoration:none;}

a.icon-btn-blue-lite:link {color:#b3e1e6; text-decoration:none;}
a.icon-btn-blue-lite:visited {color:#b3e1e6; text-decoration:none;}
a.icon-btn-blue-lite:hover {color:#fff; text-decoration:none;}
a.icon-btn-blue-lite:active {color:#fff; text-decoration:none;}

a.icon-btn-white:link {color:#fff; text-decoration:none;}
a.icon-btn-white:visited {color:#fff; text-decoration:none;}
a.icon-btn-white:hover {color:#fff; text-decoration:none;}
a.icon-btn-white:active {color:#fff; text-decoration:none;}

a.playlist-link:link {color: #4bb9c3; text-decoration:none;}
a.playlist-link:visited {color: #4bb9c3; text-decoration:none;}
a.playlist-link:hover {color: #4bb9c3; text-decoration: underline;}
a.playlist-link:active {color: #4bb9c3; text-decoration: underline;}


/* Search input placeholder styling

::-webkit-input-placeholder {opacity: .8;}
:-moz-placeholder {opacity: .8;}
::-moz-placeholder {opacity: .8;}
:-ms-input-placeholder {opacity: .8;}
*/


/* Media queries */

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
}
